img {
  width: 125px;
  height: 125px;
  margin-top: 10px;
  object-fit: cover;
}

.imagePlaceholder {
  background-color: gray;
  width: 125px;
  height: 125px;
  margin-top: 10px;
  display: inline-block;
}

.imagePlaceholder:hover {
  background-color: lightblue;
  cursor: pointer;
}

.imagesWrapper {
  max-width: 50%;
  margin: auto;
}

.imagesWrapper div, img {
  margin: auto;
}
